body {
  .site-container {
    
    width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;

  }

  nav {
    margin: 3rem 0;
    text-align: center;

    .nav__header {
      font-size: 2rem;
      font-family: var(--font-family);
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: var(--primary-color);
    }
  }

  main {
    margin-inline: auto;
    width: 90vw;
  }

 
}
.input-section {
  display: flex;
  gap: 1rem;
}

* {
  flex: 1;
}

.right-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.exercises-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.exercise {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  flex: 45%;
  color: var(--secondary-color);
  text-transform: uppercase;
  border: 3px solid var(--primary-color);
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.25s ease;
}

.exercise:hover {
  box-shadow: 0 6px 18px 0 rgba(#000, 0.1);
  transform: translateY(-6px);
}

.exercise.active {
  background-color: var(--primary-color);
  font-weight: 700;
}

.process-btn {
  border: none;
  background-color: var(--primary-color);
  padding: 1.25rem 0;
  color: whitesmoke;
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.25s ease;
}

.process-btn:hover {
  box-shadow: 0 6px 18px 0 rgba(#000, 0.1);
  color: var(--primary-color);
  border-color: transparent;
  background-color: transparent;
}
